<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tallernet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tallernet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tallernet</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:d2lfc1cjkp.database.windows.net,1433;Initial Catalog=sorceptionAdmin;User ID=sorception@d2lfc1cjkp;Password=Macarron23" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Eggplant.DataAcces.EggplantContext, Eggplant" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BDBerenjenaContainer" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:d2lfc1cjkp.database.windows.net,1433;Initial Catalog=sorceptionAdmin;User ID=sorception@d2lfc1cjkp;Password=Macarron23" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Eggplant-20131216073914.mdf;Initial Catalog=aspnet-Eggplant-20131216073914;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDBerenjenaContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/BDBerenjena.csdl|res://*/BDBerenjena.ssdl|res://*/BDBerenjena.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\aspnet-Eggplant-20131216073914.mdf;initial catalog=aspnet-Eggplant-20131216073914;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDBerenjenaContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/BDBerenjena.csdl|res://*/BDBerenjena.ssdl|res://*/BDBerenjena.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:d2lfc1cjkp.database.windows.net,1433;initial catalog=sorceptionAdmin;user id=sorception@d2lfc1cjkp;password=Macarron23;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d2lfc1cjkp.database.windows.net,1433;Initial Catalog=sorceptionAdmin;User ID=sorception@d2lfc1cjkp;Password=Macarron23</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>