<div class="form-horizontal" role="form">
  <div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre taller" disabled="disabled" value="BerenjasTaller">
    </div>
      <div class="col-sm-2">
        <a href="#" class="btn btn-default">Solicitar token</a>
    </div>
  </div>
  <div class="form-group">
    <label for="token" class="col-sm-2 control-label">Token</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="token" name="token" placeholder="No disponible" disabled="disabled">
    </div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-default">Comprobar</a>
    </div>
  </div>
</div>