<h2>Pedidos</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Modificado</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pedido in pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.status}}</td>
            <td>{{pedido.timeStamp}}<a class="fright" view-pedido-btn="pedido"><i class="glyphicon glyphicon-eye-open"></i></a></td>
        </tr>
    </tbody>
</table>
