<h2>{{settings.name}}</h2>

<form class="form-inline" role="form" action="#" method="POST" accept-charset="utf-8">
    <div class="form-group">
        <label class="sr-only" for="username">User</label>
        <input class="form-control" type="text" id="UserName" ng-model="user.UserName" value="" placeholder="jperez">
    </div>
    <div class="form-group">
        <label class="sr-only" for="name">Password</label>
        <input class="form-control" type="password" id="Password" ng-model="user.Password" value="" placeholder="******">
    </div>
    <div class="form-group">
        <label class="sr-only" for="name">Comfirmar Password</label>
        <input class="form-control" type="password" id="ConfirmPassword" ng-model="user.ConfirmPassword" value="" placeholder="******">
    </div>
    <input class="btn" type="button" post-user-btn="user" value="Crear Usuario">
</form>

<table class="table">
	<thead>
      <tr>
        <th>Token</th>
        <th>Status</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="token in settings.tokens" ng-class="{'success': token.state == 'ACTIVE', 'danger': token.state == 'EXPIRED', 'warning': token.state == 'REQUESTED'}">
        <td>{{token.token}}</td>
        <td>{{token.state}}</td>
        <td>{{token.timeStamp}}</td>
      </tr>
    </tbody>
</table>

<button class="btn btn-success" request-token-button>Request Token</button>