<h2>Editar Solicitud {{tmp_order.id}}</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Criterio</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="line in tmp_order.data" ng-hide="line.update=='DELETED'">
            <td><span contenteditable ng-model="line.descripcion" ln-update="line.update" strip-br="true" required /></td>
            <td><span contenteditable ng-model="line.cantidad" ln-update="line.update" strip-br="true" required /></td>
            <td><a class="fright" remove-line-btn="line"><i class="glyphicon glyphicon-remove"></i></a><select class="form-control" ng-model="line.criterio" ng-options="c.name for c in criterios"></select></td>
        </tr>
        <tr>
            <td><input class="form-control full" type="text" id="descripcion" ng-model="tmp_line.descripcion" placeholder="bujia" /></td>
            <td><input class="form-control full" type="number" id="cantidad" ng-model="tmp_line.cantidad" placeholder="5" /></td>
            <td><select class="form-control full" ng-model="tmp_line.criterio" ng-options="c.name for c in criterios"></select><br></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default" add-line-btn="tmp_line">Añadir Linea</button>
<button class="btn btn-success" send-order-btn="tmp_order">Actualizar Solicitud</button>