<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sorscrapnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sorscrapnet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sorscrapnet</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pcpakaihnp.database.windows.net,1433;Initial Catalog=scrapnetDB;User ID=sorception@pcpakaihnp;Password=Macarron23" Name="Data Source=tcp:pcpakaihnp.database.windows.net,1433;Initial Catalog=scrapnetDB;User Id=sorception@pcpakaihnp;Password=Macarron23" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ScrapWeb.DataAccess.ScrapContext, ScrapWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pcpakaihnp.database.windows.net,1433;Initial Catalog=scrapnetDB;User Id=sorception@pcpakaihnp;Password=Macarron23</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>